# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml
local.properties

# Archivos de usuario y temporales
*.log
.kotlin/
*.hprof

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos sensibles


# Otros
*.apk
*.ap_